body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

h1 {
  color: #333;
}

h2 {
  color: #555;
}

button {
  padding: 10px 20px;
  font-size: large;
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Verde más oscuro */
}

canvas {
  border: 2px solid #333; /* Borde del canvas */
  border-radius: 10px; /* Bordes redondeados */
}